
html, body {
    height: 100%;
    width: 100%;
  } 
body {
    background-image: linear-gradient(#26abff,#be2ed6,#b100cd);
    background-repeat: no-repeat;
  }

.test{ 
  text-align: center;
  font-size:  50px;;
}
.cool{
 padding-right: 1000px;
}